/* @config "../tailwind.config.ts" */
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Ensure native UI matches theme */
html.dark {
	color-scheme: dark;
}
html {
	color-scheme: light;
}
